 {
	margin: auto;
	padding: auto;
	background-color: #edeef7;
	font-size: 16pt;
	font-family: times new roman;
}

#table{
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	font-size: 16pt;
	width: 90%;
	background-color: white;
	border: 2px solid black;
}

#table th, td {
	border: 2px solid black;
	padding: 10px;
}

.table_buttons td {
	border: white;
    text-align: center;
}
.table_buttons {
	width: 100%;
}

#fieldset_creation {
	display: none;
	position: absolute;
	z-index: 2;
	top:50%;
    left:50%;
	transform:translate(-50%, -50%);
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	width: 500px;
}

#fieldset_deletion {
	display: none;
	position: absolute;
	z-index: 3;
	top:50%;
    left:50%;
	transform:translate(-50%, -50%);
	text-align: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	width: 700px;
}

.input {
    margin-left: auto;
    margin-right: auto;
	width: 80%;
}

.modal-title {
	position: flex;
	text-align: center;
}

#table td {
	text-align: center;
}

#Centr {
	margin: 0 auto;
}

#ADD {
  display: flex;
  justify-content: center;
}

#kr_to_close_fieldset_deletion, #kr_to_close_fieldset_creation {
	position: absolute;
    top: 10px;
    right: 10px;
}